<div>
    <div class="row">
        <div class="col-md-12 text-center">
            <div class="center-align">
                <span style="padding: 0px 10px;"><a href="#">Home</a></span>
                <span style="padding: 0px 10px; border-left: 1px solid grey;"><a href="#">Gallery</a></span>
                <span style="padding: 0px 10px; border-left: 1px solid grey;"><a href="#">Artist details</a></span>
                <span style="padding: 0px 10px; border-left: 1px solid grey;"><a href="#">Contact</a></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            <div class="center-align">
                <h1>Product Name</h1>
            </div>
        </div>
    </div>
    <div class="row" style="padding: 25px;">
        <div class="col-md-8">
            <div>
                <a href="#" class="thumbnail">
                    <img src="https://fbcdn-sphotos-d-a.akamaihd.net/hphotos-ak-xfp1/v/t1.0-9/1508162_872716446123086_987767426815481521_n.jpg?oh=62140db680a9cc2ba580795c7ba09032&oe=567DB062&__gda__=1446940515_7b9bc6fd7cd9ff68eb7ca21cb2539868" alt="...">
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="well">
                <div class="row text-center">
                    <h3 style="padding: 5px 0px; border-bottom: 1px solid grey;">
                        Masterpiece details
                    </h3>
                </div>
            </div>
        </div>
    </div>
</div>