<div>
    <div class="row">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="center-align">
                    <span style="padding: 0px 10px;"><a href="#">Home</a></span>
                    <span style="padding: 0px 10px; border-left: 1px solid grey;"><a href="#">Gallery</a></span>
                    <span style="padding: 0px 10px; border-left: 1px solid grey;"><a href="#">Artist details</a></span>
                    <span style="padding: 0px 10px; border-left: 1px solid grey;"><a href="#">Contact</a></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="center-align">
                    <h1>Ebad Nabi Hashmi</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-4">
                        <div style="padding: 30px;">
                            <h3><span class="label label-warning" style="position: absolute;">$100</span></h3>
                            <a href="#" class="thumbnail">
                                <img src="https://fbcdn-sphotos-d-a.akamaihd.net/hphotos-ak-xfp1/v/t1.0-9/1508162_872716446123086_987767426815481521_n.jpg?oh=62140db680a9cc2ba580795c7ba09032&oe=567DB062&__gda__=1446940515_7b9bc6fd7cd9ff68eb7ca21cb2539868" alt="hiba" style="height: 300px">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div style="padding: 30px;">
                            <h3><span class="label label-warning" style="position: absolute;">$100</span></h3>
                            <a href="#" class="thumbnail">
                                <img src="https://fbcdn-sphotos-g-a.akamaihd.net/hphotos-ak-xpt1/v/t1.0-9/7110_721957234579802_4211216484506264734_n.jpg?oh=22b09d30fe06c620647ca040ce73d777&oe=563ED1DE&__gda__=1451443247_a71ba50bbf5464ad2a596648a1ed73ce" alt="hiba" style="height: 300px">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div style="padding: 30px;">
                            <h3><span class="label label-warning" style="position: absolute;">$100</span></h3>
                            <a href="#" class="thumbnail">
                                <img src="https://fbcdn-sphotos-g-a.akamaihd.net/hphotos-ak-xpt1/v/t1.0-9/10516804_729992093765492_2744046796356924592_n.jpg?oh=1dd955f3a3076e9c6a6d9a20152317b6&oe=5641F54A&__gda__=1451384398_875b38c2d951a703f77cf986df68b9da" alt="hiba" style="height: 300px">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div style="padding: 30px;">
                            <h3><span class="label label-warning" style="position: absolute;">$100</span></h3>
                            <a href="#" class="thumbnail">
                                <img src="https://fbcdn-sphotos-g-a.akamaihd.net/hphotos-ak-xpt1/v/t1.0-9/10516804_729992093765492_2744046796356924592_n.jpg?oh=1dd955f3a3076e9c6a6d9a20152317b6&oe=5641F54A&__gda__=1451384398_875b38c2d951a703f77cf986df68b9da" alt="hiba" style="height: 300px">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div style="padding: 30px;">
                            <h3><span class="label label-warning" style="position: absolute;">$100</span></h3>
                            <a href="#" class="thumbnail">
                                <img src="https://fbcdn-sphotos-g-a.akamaihd.net/hphotos-ak-xpt1/v/t1.0-9/10516804_729992093765492_2744046796356924592_n.jpg?oh=1dd955f3a3076e9c6a6d9a20152317b6&oe=5641F54A&__gda__=1451384398_875b38c2d951a703f77cf986df68b9da" alt="hiba" style="height: 300px">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>